.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.LeftMenu {
  width: 350px;
  background-color:  #31628e ;
}

.RightMenu {
  width: 85vw;
}

.Buttons {
  height: max-content;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Buttons div {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.Buttons button {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.Workers {
  justify-content: center;
  align-items: center;
  height: max-content;
  background-color: #fff;
  border: 1px solid #c7c7c7;
}

.Time {
  height: 2000px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
}

.eventInfo {
  width: fit-content;
  height: fit-content;
  background-color: aqua;
}
.WorkersText {
  font-size: 12px;
}
.WorkersDiv {
 width:max-content;
 padding: 5px;
}

.WorkersDiv img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.hour{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hour:nth-of-type(2n){
  filter: brightness(1.2);
}

.event{
  border-radius: 5px;
  width: calc(100% - 2px);
  border: 1px solid;
  cursor: pointer;
}

nav ul{height:200px; width:18%;}
nav ul{overflow:hidden; overflow-x:scroll;}
