.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.LeftMenu {
  width: 15vw;
  background-color:  #31628e ;
}

.RightMenu {
  width: 85vw;
}

.Buttons {
  height: 5%;
  background-color: #fff;
  border: 1px solid #757575
}

.Workers {
  height: 15%;
  background-color: #fff;
  border: 1px solid #757575
}

.Time {
  height: 80%;
  background-color: #fff;
  border: 1px solid #757575
}

.WorkersText {
  font-size: 12px;
}
.WorkersDiv {
 width: fit-content;
 padding: 5px;
}
ul, li {
  display:inline
}

nav ul{height:200px; width:18%;}
nav ul{overflow:hidden; overflow-x:scroll;}
